@font-face{font-family:'OpenSans-Regular';src:url('/fonts/OpenSans_gdi.eot');src:url('/fonts/OpenSans_gdi.eot?#iefix') format("embedded-opentype"),url('/fonts/OpenSans_gdi.woff') format("woff"),url('/fonts/OpenSans_gdi.ttf') format("truetype"),url('/fonts/OpenSans_gdi.svg#OpenSans-Regular') format("svg");font-weight:400;font-style:normal;font-stretch:normal;unicode-range:U+0020-25CA}
@font-face{font-family:'OpenSans-Semibold';src:url('/fonts/OpenSans-Semibold_gdi.eot');src:url('/fonts/OpenSans-Semibold_gdi.eot?#iefix') format("embedded-opentype"),url('/fonts/OpenSans-Semibold_gdi.woff') format("woff"),url('/fonts/OpenSans-Semibold_gdi.ttf') format("truetype"),url('/fonts/OpenSans-Semibold_gdi.svg#OpenSans-Semibold') format("svg");font-weight:600;font-style:normal;font-stretch:normal;unicode-range:U+0020-25CA}
@font-face{font-family:'OpenSans-Light';src:url('/fonts/OpenSans-Light.eot');src:url('/fonts/OpenSans-Light.eot?#iefix') format("embedded-opentype"),url('/fonts/OpenSans-Light.woff') format("woff"),url('/fonts/OpenSans-Light.ttf') format("truetype"),url('/fonts/OpenSans-Light.svg#OpenSans-Light') format("svg");font-weight:300;font-style:normal;font-stretch:normal;unicode-range:U+0020-FFFD}
@font-face{font-family:'sfns_displayregular';src:url('/fonts/system_san_francisco_display_regular-webfont.woff2') format("woff2"),url('/fonts/system_san_francisco_display_regular-webfont.woff') format("woff");font-weight:400;font-style:normal}
@font-face{font-family:'JosefinSlab-SemiBold';src:url('/fonts/JosefinSlab-SemiBold.eot');src:url('/fonts/JosefinSlab-SemiBold.eot?#iefix') format("embedded-opentype"),url(/fonts/JosefinSlab-SemiBold.woff) format("woff"),url('/fonts/JosefinSlab-SemiBold.ttf') format("truetype"),url('/fonts/JosefinSlab-SemiBold.svg#JosefinSlab-SemiBold') format("svg");font-weight:600;font-style:normal;font-stretch:normal;unicode-range:U+0020-203A}
@font-face{font-family:'JosefinSlab';src:url('/fonts/josefinslabregular.eot');src:url('/fonts/josefinslabregular.eot?#iefix') format("embedded-opentype"),url('/fonts/josefinslabregular.svg#josefinslabregular') format("svg"),url('/fonts/josefinslabregular.ttf') format("truetype"),url('/fonts/josefinslabregular.woff') format("woff"),url('/fonts/josefinslabregular.woff2') format("woff2");font-weight:400;font-style:normal}
@font-face{font-family:'JosefinSlab-Light';src:url('/fonts/josefinslablight.eot');src:url('/fonts/josefinslablight.eot?#iefix') format("embedded-opentype"),url('/fonts/josefinslablight.svg#josefinslablight') format("svg"),url('/fonts/josefinslablight.ttf') format("truetype"),url('/fonts/josefinslablight.woff') format("woff"),url('/fonts/josefinslablight.woff2') format("woff2");font-weight:400;font-style:normal}
html,body{height:100%}
body{padding-top:0;font-family:'OpenSans-Light'}
.img-home-portfolio,.img-customer,.portfolio-item{margin-bottom:30px}
.tab-pane{margin-top:15px}
.section,.section-colored{padding:50px 0}
.section-colored{background-color:#e1e1e1}
.sidebar{margin-top:40px}
.sidebar ul{border-radius:5px;padding:5px;border:1px solid #ccc}
.carousel{height:auto;background-color:#414550;padding:0 0 15px;}
.item,.active,.carousel-inner{height:100%}
.fill{width:100%;height:100%;background-position:center;background-size:cover}
.carousel.carousel-fade .item{-webkit-transition:opacity .5s ease-in-out;-moz-transition:opacity .5s ease-in-out;-ms-transition:opacity .5s ease-in-out;-o-transition:opacity .5s ease-in-out;transition:opacity .5s ease-in-out;opacity:0}
.carousel.carousel-fade .active.item{opacity:1}
.carousel.carousel-fade .active.left,.carousel.carousel-fade .active.right{left:0;z-index:2;opacity:0;filter:alpha(opacity=0)}
.carousel.carousel-fade .next,.carousel.carousel-fade .prev{left:0;z-index:1}
.carousel.carousel-fade .carousel-control{z-index:3}
.carousel-inner > .item > img,.carousel-inner > .item > a > img{margin:0 auto}
.list-social-icons{margin-bottom:45px}
.tooltip-social a{text-decoration:none;color:inherit}
.facebook-link a:hover{color:#3b5998}
.linkedin-link a:hover{color:#007fb1}
.twitter-link a:hover{color:#39a9e0}
.google-plus-link a:hover{color:#d14836}
.service-icon{font-size:50px}
.error-404{font-size:8em}
.price{font-size:4em}
.price-cents{vertical-align:super;font-size:50%}
.price-month{font-size:35%;font-style:italic}
footer{margin:50px 0}
body a:focus{outline:none!important}
body img:focus{outline:none!important}
a img:focus{outline:none!important}
button.btn:focus{outline:none!important}
p{padding:0;margin:0;height:auto!important}
a{color:#702c39;text-decoration:none;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
a:hover,a:focus{color:#111;text-decoration:none;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
button.btn{background-color:#702c39;border:1px solid #702c39;border-radius:0;padding:.4em 2em;font-family:'OpenSans-Regular'!important;font-size:13px;color:#fff;text-shadow:none;display:inline-block}
button.btn:hover,button.btn:focus{background:transparent;border:1px solid #702c39;color:#702c39}
a.btn{background:#23b4c2;border:none;border-bottom:3px solid #148691;font-size:18px;border-radius:0;width:auto;height:auto;padding:16px 36px;color:#FFF;text-shadow:0 2px 1px rgba(0,0,0,0.5);text-decoration:none;text-transform:uppercase;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
a.btn:hover,a.btn:focus{background:#148691;border:none;border-bottom:3px solid #23b4c2;color:#FFF;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
button.btn i{text-shadow:none}
a i{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
a:hover i{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.no-pad{padding:0;margin:0}
.form-control::-webkit-input-placeholder{color:#729290}
.form-control:-moz-placeholder{color:#729290;opacity:1}
.form-control::-moz-placeholder{color:#729290;opacity:1}
.form-control:-ms-input-placeholder{color:#729290}
input[type="radio"],input[type="checkbox"]{float:left;line-height:normal;margin:4px 5px 0 0}
.html-editor-wrap #htmlEditor{width:100%!important}
.reset-btn{background:#ccc;border:none;border-bottom:3px solid #729290;font-size:14px;font-family:"OpenSans-Regular";border-radius:0;width:auto;height:auto;padding:5px 15px;color:#525252;text-decoration:none;text-transform:uppercase;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.reset-btn:hover,.reset-btn:focus{background:#242424;border:none;border-bottom:3px solid #729290;color:#FFF;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.orange-btn{background:#702c39;border:none;border-bottom:3px solid #702c39;font-size:14px;font-family:"OpenSans-Regular";border-radius:0;width:auto;height:auto;padding:5px 15px;color:#FFF;text-decoration:none;text-transform:uppercase;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.orange-btn:hover,.reset-btn:focus{background:#525252;border:none;border-bottom:3px solid #313131;color:#FFF;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.rcls{margin:12px 5px 0 0 !important;top:5px;position:relative}
.radioclswomrgn{top:5px;position:relative}
.clr{clear:both}
header{width:100%;background-color:#fff;font-size:21px;text-transform:uppercase;line-height:22px;color:#000;border-bottom:9px solid #702c39;margin-bottom:0}
.navbar{border-radius:0;font-size:16px;margin:15px 0 0}
.navbar-justify{width:100%;display:inline-block;text-align:center;float:none;margin:0}
.navbar-header{width:100%;float:none;display:inline-block;text-align:center;margin-bottom:5px}
.navbar-inverse{background-color:transparent;color:#fff;border:0}
.navbar-justify li{float:none;display:inline-block}
.dropdown-menu li{display:block!important}
.navbar-inverse .navbar-nav > li > a{font-family:"OpenSans-Light";font-size:13px;color:#000;letter-spacing:.07em;text-transform:uppercase;background-color:#fff;border-bottom:3px solid transparent;padding:10px 6px .6em}
.navbar-inverse .navbar-nav > li a:hover,.navbar-inverse .navbar-nav > li a:focus{background-color:#b7c1c3;color:#000}
.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li > a:focus{background-color:#b7c1c3;color:#000}
.navbar-inverse .navbar-nav .dropdown-menu > li > a:hover{background-color:transparent;color:#fff}
.navbar-inverse .navbar-nav .dropdown-menu > li > a:focus{background-color:transparent;color:#fff}
.navbar-brand{padding:0;line-height:26px;height:auto;display:inline-block;float:none}
.navbar-toggle{background-color:#702c39;border-color:#702c39!important;position:absolute;right:0}
.navbar-inverse .navbar-toggle:hover{background-color:transparent;border-color:#702c39}
.navbar-inverse .navbar-toggle:focus{background-color:#702c39;border-color:#fff}
.navbar-inverse .navbar-toggle:hover .icon-bar{background-color:#702c39}
.navbar-inverse .navbar-toggle:focus .icon-bar{background-color:#fff}
.navbar-brand > img{display:inline-block;width:135px;height:auto}
.dropdown .caret{display:none}
.navbar-right .dropdown-menu{left:0;right:auto}
.dropdown-menu{background-color:rgba(53,53,53,0.9);float:none;border:0;border-top:1px solid #555;font-size:18px;color:#fff;top:100%;border-radius:0;padding:.2em 1.2em;text-transform:none}
.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus{background-color:#f0370e}
.dropdown-menu > li > a{color:#ccc;font-size:13px;border-bottom:0 solid #555;padding:.3em 0 0;margin:0 0 .5em}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{background-color:transparent;color:#e1e1e1}
.dropdown-menu li{border-bottom:1px solid #555}
.dropdown-menu li:last-child{border-bottom:0}
.modal-body .dropdown-menu{background-color:rgba(53,53,53,0.9);float:none;border:0;border-top:0 solid #555;font-size:18px;color:#fff;top:100%;border-radius:0;padding:.2em 0;text-transform:none}
.modal-body .dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus{background-color:#f0370e}
.modal-body .dropdown-menu > li > a{color:#111;font-size:12px;border-bottom:0 solid #555;padding:.3em .8em;margin:0 0 .5em}
.modal-body .dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{background-color:transparent;color:#fff}
.modal-body .dropdown-menu li{border-bottom:0 solid #555}
.modal-body .dropdown-menu li:last-child{border-bottom:0}
.modal-body .dropdown-menu.ng-isolate-scope{width:207px}
.carousel-capxion{font-family:'sfns_displayregular'!important;font-size:18px;text-shadow:none;padding-bottom:0;width:100%;left:auto;right:auto;bottom:inherit;position:relative;padding-top:16px}
.carousel-capxion h3{font-family:'JosefinSlab-SemiBold';margin-bottom:8px;font-size:17px;line-height:18px;color:#fff;text-transform:uppercase;letter-spacing:.1em}
.carousel-inner .carousel-capxion img{display:inline-block!important}
.carousel-inner .carousel-capxion p{font-family:'OpenSans-Light';font-size:13px;margin:0;color:#fff;letter-spacing:.05em}
.carousel-indicators{bottom:0}
.carousel-indicators li{width:13px;height:13px;background-color:#fff;border:1px solid #000;margin:0}
.carousel-indicators .active{width:13px;height:13px;background-color:#f14010;border:1px solid #000}
.org_btn{background-color:#702c39;border:1px solid #702c39;border-radius:0;padding:12px 23px 10px;margin:0;font-family:'JosefinSlab';font-size:14px;line-height:13px;letter-spacing:.07em;text-transform:uppercase;color:#fff;text-shadow:none;display:inline-block;min-width:177px}
.org_btn:hover{background:transparent;border:1px solid #702c39;color:#702c39}
.carousel-control.left{background-image:none;display:none}
.carousel-control.right{background-image:none;display:none}
.top_icon{padding:0;margin:29px 0 20px}
.top_icon i{font-size:4em}
.section-topblock{padding:0;font-size:12px;line-height:1.5em;text-align:center;padding-top:30px;padding-bottom:30px;}
.section-topblock p{font-size: 17px;color:#000;line-height:1.6em;letter-spacing:.03em;margin:0;/* padding:0 45px; */text-align:justify;-moz-text-align-last:center;text-align-last:center;font-family:"OpenSans-Light";}
h2{color:#242424;font-size:1.7em;line-height:1.1em;padding:0;margin:0 0 .6em;display:inline-block}
.txt_center{text-align:center}
.section_three_block p{font-family:'OpenSans-Light';font-size:13px;line-height:16px;color:#40454f;margin:14px 0 0;text-align:center;letter-spacing:.24px}
.box_img{overflow:hidden}
.btn_reamore{background-color:#702c39;border:1px solid #702c39;border-radius:0;padding:.5em 2.7em;display:inline-block;font-family:'JosefinSlab-SemiBold';font-size:16px;color:#fff;text-decoration:none}
.btn_reamore:hover{background-color:#fff;border:1px solid #702c39;color:#702c39;text-decoration:none}
h1{font-family:'JosefinSlab';font-size:17px;text-align:center;color:#702c39;padding:0;margin:0 0 .5em;letter-spacing:.06em}
h1 a{color:#702c39;padding:0;margin:0 0 .7em;text-decoration:none;text-transform:uppercase}
h1 a:hover{color:#fff;text-decoration:none}
.section_three_block{background-color:#b7c1c3;font-size:20px;color:#000;border:1px solid #282828;padding:.7em;margin:0}
.section_three_block img{display:inline;height:210px;width:auto;opacity:1;border:5px solid #fff}
.section_three_block img:hover{opacity:.8;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.section_three_block .dsc_txt{height:4em;overflow:hidden;/*padding:0 .5em*/}
.page_heading_bg{background-color:#414550;height:49px;padding:0;margin:0;text-align:center}
.page_heading_bg h1{font-size:22px;color:#fff;line-height:18px;letter-spacing:.1em;text-transform:uppercase;display:inline-block;text-align:left;padding:0;margin:17px 0}
.section_main_body{padding:30px 0;margin:0;line-height:1.5em}
.section_main_body h2{font-family:'JosefinSlab';font-size:21px;color:#702c39;text-transform:uppercase;padding:10px 0 13px;letter-spacing:.1em}
.section_team_mamber_list{padding:0;margin:0;text-align:left}
.section_team_mamber_list ul{width:100%;padding:0;margin:20px 0 15px;display:inline-block}
.section_team_mamber_list ul li{width:47.5%;float:none;background-color:#b7c1c3;padding:1.8em;margin:0 2em 2em 0;display:inline-block;text-align:left;line-height:1.8em;vertical-align:top}
.section_team_mamber_list .gray_block{width:100%;background-color:#b7c1c3;padding:23px;margin:0 0 2em;display:inline-block;text-align:left;font-size:13px;line-height:19px;vertical-align:top;max-height: 300px;min-height:271px;}
.member_img{width:180px;max-height:220px;min-height:220px;overflow:hidden;float:left;margin:0 15px 5px 0;padding:0}
.member_img a img{width:100%;background-color:#fff;border:10px solid #fff}
.member_img_rgt{width:220px;float:right!important;margin:0 0 40px 30px;padding:0}
.member_rgt_box{width:60%;float:left;height:100%;min-height:224px;position:relative}
.member_rgt_box .more_txt{bottom:0;left:5px}
.more_txt a{font-family:"OpenSans-Regular";font-size:12px;font-weight:400;color:#702c39;letter-spacing:.05em;font-style:italic;text-decoration:none}
.more_txt a:hover{color:#111;text-decoration:none}
h3{font-family:"OpenSans-Light";font-size:20px;color:#702c39;padding:0;margin:3px 0 .35em;text-transform:uppercase;letter-spacing: 0.07em;}
h3 a{color:#702c39;text-decoration:none}
h3 a:hover{color:#40454f;text-decoration:none}
h4{font-family:'JosefinSlab';font-size:20px;line-height:22px;color:#000;padding:0;margin:0 0 .4em;font-style:italic}
.img_topbar{border-top:4px solid #702c39;padding:.3em 0 0}
form.contact_form{padding:1.8em 0 0!important;margin:0}
.org_contact_infobox{color:#40454f;line-height:1.5em;text-align:left;font-size:14px}
.org_contact_infobox a:hover{color:#000;text-decoration:none}
.org_contact_infobox .row_pad{padding:0;margin:0 0 .5em}
.org_contact_infobox h1{font-size:22px;line-height:23px;color:#fff;font-weight:700;padding:0;margin:0 0 1.2em;text-align:left}
.contact_form input{border:1px solid #bfbfbf;border-radius:0;width:100%;padding:.5em 1.2em;margin:.5em 0;color:#000;font-size:16px}
.contact_form textarea{border:1px solid #bfbfbf;border-radius:0;width:100%;height:10em;resize:none;padding:.5em 1.2em;margin:.5em 0;color:#000;font-size:16px}
.contact_form input:focus,.contact_form textarea:focus{border-color:#702c39}
.contact_form button.btn{background-color:#702c39;border:1px solid #f0370e;font-family:'JosefinSlab';font-size:20px;color:#fff;text-transform:uppercase;text-shadow:none;padding:.4em 2.5em;margin:.2em 0 1em}
.contact_form button.btn:hover{background-color:#313131;border:1px solid #313131;color:#fff}
.btn-rgt{float:right}
.recent_news_wrap{padding:0;margin:0}
.recent_news_wrap ul{padding:0;margin:.6em 0 0;list-style:none}
.recent_news_wrap ul li{width:100%;float:none;display:inline-block;border-bottom:1px solid #a8a8a8;padding:0 0 2em;margin:1em 0}
.news_heading{font-size:22px;color:#000;line-height:23px;padding:0;margin:0 0 .6em}
.news_posted_datetxt{font-size:14px;color:#000;line-height:15px;padding:0;margin:1.2em 0 0}
.news_posted_datetxt span{color:#702c39}
.news_wrap{padding:0;margin:0}
.news_wrap ul{width:100%;list-style:none;padding:0;margin:0;text-align:center;display:inline-block}
.news_wrap ul li{width:45%;float:none;padding:0;margin:0 10px 20px;display:inline-block;text-align:left;vertical-align:top}
.news_heading_txt{font-family: OpenSans-Light!important;font-size:1.95em;line-height:30px;color:#242424;padding:0;margin:.6em 0}
.news_wrap p{padding:0;margin:0 0 6px;min-height:35px;/*overflow-y:scroll*/font-size: 12px;}
.btn-read_more{background:#ff3600;padding:.8em 2.8em;margin:.5em 0;color:#fff;border:0;font-size:16px;border-radius:.3em}
.btn-read_more:hover{background:#333232;color:#fff;-webkit-transition-duration:.4s;transition-duration:.4s}
.news_review{padding:0 3.2em 0 0;font-style:italic;font-size:13px;letter-spacing:.025em;}
.news_review i{font-size:15px;color:#702c39;line-height:21px;margin:0 .1em 0 0}
.news_review i:nth-child(2){margin:0 .1em 0 .9em}
.news_review i:first-child{margin:0 .1em 0 0}
.news_review a{color:#343434;text-decoration:none}
.news_review a:hover{color:#111;text-decoration:none}
.news-details_wrap{background-color:#b7c1c3;border-top:10px solid #702c39;padding:2.5em;text-align:justify}
.news-details_wrap p{padding:0;margin:0 0 1.5em;font-size: 13px;}
.news-details_wrap .news_review i:nth-child(2){margin:0 .1em 0 .9em}
.news-details_wrap .news_review i:nth-child(3){margin:0 .1em 0 .9em}
.comment_block{border:0 solid #ccc;padding:0;margin:5em 0 0;position:relative}
.comment_block .media-left,.comment_block .media > .pull-left{padding-right:2em}
.media-heading{font-size:18px;color:#313131}
.org_txt{color:#702c39}
.reply_block{border-top:0 solid #a8a8a8;padding:1em 0 0;margin:3em 0 0;font-size:11px;line-height:17px}
.reply_block .reply_heading{font-size:13px;color:#702c39;line-height:18px;margin:0 0 1em;text-transform:uppercase}
.reply_block .form-control{color:#b7c1c3;font-size:10px;letter-spacing:.075em;box-shadow:none;border:0;height:27px!important}
.reply_block button.btn{font-size:10px;letter-spacing:.01em}
.reply_block .form-control::-moz-placeholder{color:#b7c1c3}
.form-group{font-weight:400;margin:0}
.form-group:after{clear:both}
.comment_block label{font-weight:400}
.comment_block label span{color:red}
.comment_block .form-control{margin:0 0 2em;border-radius:0;height:42px}
.comment_block h3{padding-bottom:20px;color:#702c39;font-size:13px;font-weight:400;position:relative;display:inline-block}
.comment-heading{font-size:13px;font-style:italic;color:#702c39}
.comment_time_txt{font-size:11px;letter-spacing:.025em;font-style:italic;color:#000;font-family:'JosefinSlab-SemiBold';font-weight:400}
.media{text-align:left}
.media-body{font-size:10px;line-height:17px;color:#000}
.media-body p{margin:1.2em 0;line-height:16px}
legend{padding-bottom:10px}
.section-home{background-color:#40454f;border-top:9px solid #702c39;padding:37px 0}
.section-home ul{width:100%;padding:0;margin:0;text-align:center;display:inline-block}
.section-home ul li{float:none;margin:10px 11.7px;display:inline-block;width:208px;height:333px;vertical-align:top}
footer{padding:0;margin:0;font-size:20px;color:#fff;line-height:2em;float:none;width:100%}
footer .copyright_block{width:100%;display:inline-block;padding:0;margin:0;color:#fff;text-align:center;font-size:15px;line-height:16px;letter-spacing:.25px}
footer .copyright_block span{color:#fff}
footer .copyright_block a{color:#fff;text-decoration:none}
footer .copyright_block a:hover{color:#8f8f8f;text-decoration:none}
footer .rgt_block{color:#fff;text-align:center;line-height:1em;list-style:none;padding:28px 0 10px;overflow:hidden}
footer .rgt_block h3{font-family:'JosefinSlab-SemiBold';color:#40454f;font-size:16px;line-height:18px;text-transform:uppercase;letter-spacing:.1em;margin:4px 0 5px;display:none}
footer .rgt_block ul{width:100%;padding:0;margin:0;display:inline-block;text-align:center}
footer .rgt_block ul li{width:auto;float:none;background:rgba(255,255,255,1);padding:12px 15px;margin:0 .3em;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;display:inline-block;vertical-align:middle}
footer .rgt_block ul li:hover{background:rgba(255,255,255,1);opacity:.6}
footer .rgt_block ul li:nth-child(3){margin-left:-25px}
footer .rgt_block .img-responsive,footer .rgt_block .thumbnail a > img,footer .rgt_block .thumbnail > img{display:inline-block; position: relative;}
.txt-left{text-align:left}
.up-footer{background-color:#fff}
.bottom-footer{background:#702c39;padding:0}
.homeimg_pad{padding:0;margin:0;height:auto;}
.homeimg_pad img{display:inline-block;width:495px;}
.section_main_bodyresearch{padding:0;margin:0;line-height:1.8em}
.section_dark{background-color:#b7c1c3;padding:35px 0;margin:0}
.section_light{background-color:#fff;padding:35px 0;margin:0}
.section_main_bodyresearch h2{font-family:'JosefinSlab';font-size:21px;color:#702c39;text-transform:uppercase;letter-spacing:.1em;padding:0;margin:0 0 20px;display:block}
.reseach_heading{font-family:'JosefinSlab';font-size:18px;color:#000;font-style:italic;line-height:25px;letter-spacing:.05em;padding:0;margin:0 0 20px}
.research_sub_heading{font-size:19px;color:#ff3600;line-height:1.2em;padding:0;margin:0 0 1.2em}
.section_main_bodyresearch .section_light h2{text-align:right}
.section_main_bodyresearch .section_light .reseach_heading{text-align:right}
.section_dark p, .section_light p{font-size:13px;line-height:22px}
.org_header{background-color:#702c39;border-radius:0;padding:.6em 0;margin:0 0 1.2em;font-size:16px;color:#fff;line-height:30px}
.org_header h2{font-size:30px;color:#fff;line-height:35px;padding:0;margin:0}
.org_header .form-group{margin:0}
.btn-search{background-color:#333;border:1px solid #333;color:#fff;line-height:16px;border-radius:.2em;text-transform:none;padding:.6em .8em;margin:0}
.btn-search:hover{background-color:transparent;border:1px solid #fff;color:#fff;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.alg_rgt{text-align:right}
.alg_center{text-align:center}
.article_wrap{border-bottom:1px solid #ccc;padding:0 0 .8em;margin:0 0 .8em}
.article_wrap h3{font-family:'OpenSans-Semibold';font-size:19px;font-weight:400;color:#702c39;padding:0;margin:0 0 .6em}
.article_wrap ul{list-style:none;padding:0;margin:0}
.article_wrap ul li{float:none;font-family:'OpenSans-Semibold';font-size:14px;color:#313131;font-weight:400;padding:0;margin:.4em 0;border:0;display:inline-block;width:100%}
.article_wrap ul li a{color:#313131;text-decoration:none}
.article_wrap ul li a:hover{color:#f0370e;text-decoration:none}
.pagination_block{padding:0;margin:0;text-align: center;}
.pagination_block ul{list-style:none;width:auto;/*float:right;*/display:inline-block;text-align:center;padding:0;margin:0}
.pagination_block ul li{width:auto;float:none;display:inline-block;font-family:'OpenSans-Semibold';font-size:14px;font-weight:400;color:#313131!important;text-decoration:none;border:0!important;padding:0!important;margin:0 .5em!important;height:auto!important;background-color:transparent!important;border-top:0!important}
.pagination_block ul li a{color:#313131;text-decoration:none}
.pagination_block ul li a:hover{color:#702c39;text-decoration:none}
.pagination_block ul li a i{color:#702c39;font-weight:700;font-size:16px}
.article_search_block{border-bottom:4px solid #702c39;padding:0 0 .5em;margin:0 0 1.2em}
.article_search_block ul{list-style:none;padding:0;margin:0}
.article_search_block ul li{width:auto;float:left;background-color:#fff;font-size:21px;color:#f0370e;text-decoration:none;text-transform:uppercase;border:0;padding:0;margin:0}
.article_search_block ul li a{background-color:#fff;color:#702c39;text-decoration:none;padding:.2em .5em;margin:0 .15em}
.article_search_block ul li a:hover{background-color:#702c39;color:#fff}
.article_details_wrap .media-left img{border:10px solid #b7c1c3}
.border_lowerbar{border-bottom:8px solid #702c39;padding:0 0 .6em;margin:0;width:100%}
.org_heading_txt{font-family:'JosefinSlab-SemiBold';font-size:22px;color:#000;line-height:22px;padding:0;margin:0 0 .6em;text-transform:none;font-style:italic}
.article_details_wrap{padding:0 2.5em 0 0;margin:2em 0 0}
.article_details_wrap .media-left,.media > .pull-left{padding-right:3em}
.article_details_wrap .media-body p span{font-family:'OpenSans-Semibold'}
.lower_border{border-bottom:1px solid #ccc;padding:0 0 2em;margin:0 0 2em}
.margin_five_px{margin-bottom:5px!important}
.no-boder-wrap .form-item-container{padding:0;border:0 none}
.no-boder-wrap .list-inline > li{display:block;margin:5px 0 5px 5px !important}
.no-boder-wrap .list-inline > li input{width:100%;height:50px;border-radius:0;color:#111}
.no-boder-wrap .list-inline > li.suggestion-tag{display:inline-block!important}
.no-boder-wrap .autocomplete-list{background-color:#fff;border:1px solid #ccc;border-radius:4px;left:17px;position:absolute;top:48px;width:90%;z-index:100}
.filum_tick li{list-style:decimal;margin:5px 0}
.filum_tick{padding-left:0!important;font-size: 12px;line-height: 22px;}
.orge_txt{font-size:11px;color:#702c39;margin-left:10px;font-style:italic}
.white_sec{padding:20px;background:#fff;margin-bottom:10px}
.gray_sec{padding:20px;background:#646464;margin-bottom:20px;color:#fff}
.gray_sec input[type="radio"],input[type="checkbox"]{margin:6px 0 0}
.ornge_heading{background:#702c39;border-radius:0;color:#fff;padding:10px 20px;margin:20px 0 0;font-size:16px}
.border{border-bottom:1px dashed #d3caca;margin:10px 0 30px}
.fr_srt{margin:0 20px 0 0;font-size:16px}
.white_sec h3{color:#000;font-size:16px}
.white_sec .form-control{border-radius:0;background:#f8f4f4;height:50px;margin-bottom:25px}
.white_sec .form-control:focus{box-shadow:none!important;border:1px solid #efefef}
.white_sec label{margin:10px 0!important}
.dashbrd_txt{color:#702c39;font-size:20px;font-weight:700;line-height:45px;text-align:left}
.stylo_txt{color:#702c39;font-size:13px;font-weight:500;line-height:15px;text-align:center}
.dashbrd_sec{background:#efefef;border:1px solid #ddd;padding:15px 10px;border-radius:5px;margin-bottom:15px}
.stylo_sec{background:#efefef;border:1px solid #ddd;padding:15px 10px;border-radius:5px;margin-bottom:15px}
.stylo_sel{background:#d1d1d1;border:1px solid #000;padding:15px 10px;border-radius:5px;margin-bottom:15px}
.dropdown-menu.ng-isolate-scope{background-color:#fff!important;color:#000!important;max-height:200px;overflow-y:auto;max-width:300px}
.ng-scope{color:#000;min-height:calc(100% - 212px)}
.ng-scope.ng-binding{background-color:#aeb7b9!important}
.default.ng-scope.ng-binding{background-color:#fff!important}
.ng-scope.active{background-color:#ccc!important;color:#fff!important}
.textddl .dropdown-menu.ng-isolate-scope{font-style:italic}
.textddl .form-control{font-style:italic}
.autocomplete-list ul{max-height:200px;overflow-y:auto}
.fixed-header{background-color:rgba(0,0,0,0.2);height:50px;position:fixed;top:0;left:0;right:0}
.fixed-header > a{display:inline-block;margin:5px 15px}
.researchrow{min-height:375px!important}
.round_block{border:1px solid #dedede;border-radius:.4em;padding:1.8em;margin:1.3em 0}
input{border:1px solid #bfbfbf;border-radius:0;color:#000;font-size:12px;margin:0 0 .5em;padding:.3em .5em;width:auto}
input:focus,textarea:focus{border-color:#702c39}
.block_wraper{background-color:#b7c1c3;padding:1em;margin:0 0 2em}
.topic_head{font-weight:700;color:#111;padding:0;margin:0 0 .8em}
.topic_head input[type="radio"],input[type="checkbox"]{display:inline-block;margin:.4em .5em 0 0;width:auto;float:none}
.form_group{padding:0 1.3em;margin:.5em 0}
.form_group label{font-weight:400}
.form_group input[type="radio"],input[type="checkbox"]{display:inline-block;margin:.4em .5em 0 0;width:auto}
input[type="file"]{border:0;padding:0;margin:0 0 .5em}
#outpx_wraper{background-color:#e0e0e0;padding:1.5em;margin:2em 0;border-radius:.4em}
.out_heading{background-color:#ff3600;padding:.8em;margin:0 0 1.5em;font-size:20px;font-weight:700;color:#fff;text-transform:uppercase}
.name_tag{font-size:20px;font-weight:700;color:#000;border-bottom:1px solid #ccc;padding:0 1em .6em;margin:.6em 0}
.no_tag{font-size:15px;font-weight:700;color:#202020;padding:0 1em .6em;margin:.6em 0;font-style:italic}
.output_org_txt{font-size:15px;text-transform:none;color:#111;font-weight:400;padding:0 .6em;margin:1.8em 0}
.output_org_txt span{text-transform:uppercase;color:#ff3600;font-weight:700}
.output_table_wrap{background-color:#fff;border:1px solid #ccc;width:60%;padding:0 0 .8em;margin:2em auto;border-radius:.4em}
.output_table_wrap table{border-radius:.4em .4em 0 0}
.output_table_wrap thead{background-color:#ff3600;padding:.4em .5em;margin:0 0 .3em;color:#fff;font-weight:700;border-radius:.4em .4em 0 0}
.output_table_wrap thead th{padding:.4em .5em;text-align:center}
.output_table_wrap tbody tr td{padding:.4em .5em;margin:0;text-align:center}
.odd{background-color:#f0f0f0}
.evan{background-color:#fff}
.traffic_details_wraper{padding:0;margin:3.5em 0 2em}
.left_box{background-color:#e0e0e0;padding:1.5em;margin:2em 0;border-radius:.4em}
.devider{border-bottom:1px solid #fff;padding:0 .8em .6em;margin:.6em 0}
.view_details_box table td{border-bottom:1px solid #fff;padding:.6em .8em;margin:.6em 0}
.time_range{background-color:#f0370e;color:#fff;padding:.3em 1em;margin:0 0 2em;width:auto;display:inline-block;font-weight:700}
button,html input[type="button"],input[type="reset"],input[type="submit"]{border:1px solid #702c39;font-family:"OpenSans-Regular";font-size:12px;color:#fff;padding:.1em 1.2em;border-radius:0;background-color:#702c39}
button:hover,html input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border:1px solid #313131;color:#fff;background-color:#313131;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.modal-header{border-bottom:0;border-radius:4px 4px 0 0}
.modal-header h3{color:#fff}
.close{color:#fff;opacity:.8}
.modal-header button:hover,.modal-header html input[type="button"]:hover{background-color:transparent;color:#111;border:0}
.modal-body button.btn{border:1px solid #702c39;font-family:"JosefinSlab-SemiBold";font-size:13px;color:#fff;padding:.3em 1.2em;text-transform:uppercase;border-radius:.2em;background-color:#702c39}
.modal-body button.btn:hover{border:1px solid #702c39;color:#702c39;background-color:transparent}
.modal-body fieldset input[type="text"]{margin:.3em 0}
.modal-content{padding:0!important}
.modal-body .table-responsive thead tr th{border-bottom:0;padding:.5em}
.modal-body fieldset legend{text-transform:uppercase;font-weight:700;color:#702c39;padding-top:1.5em}
.dark_row{background-color:#702c39;font-weight:700;color:#fff;padding:.5em}
.library-wrap{margin:20px 0}
.library-wrap ul{list-style:none;padding:0;margin:0}
.library-wrap ul.lib-letter li{display:inline-block;background:#FF3600;color:#fff;font-size:12px;font-weight:400;text-transform:uppercase;transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;margin-bottom:3px}
.library-wrap ul.lib-letter li a{display:block;color:#fff;padding:3px 13px}
.library-wrap ul.lib-letter li:hover{background:#519a03}
.lndividual-lettr-wrap{width:100%;border:1px solid #23b4c2;margin:15px 0 0}
.lndividual-lettr-wrap h2{margin:0;color:#fff;font-size:20px;font-weight:400}
.ind-letter-btn{display:block;text-align:center;background:#23b4c2;color:#fff;border:0 none;font-size:16px;font-weight:600;text-transform:uppercase;padding:5px}
.ind-letter-btn:hover,.ind-letter-btn:focus{color:#fff}
.lndividual-lettr-wrap .card{padding:10px}
.lndividual-lettr-wrap i{font-size:16px;display:inline-block;margin:0 5px 0 0}
.inner-list-wrap{padding:0 10px}
.inner-list-wrap ul{list-style:none;margin:0;padding:0 10px 10px}
.inner-list-wrap ul li{width:100%;font-size:12px}
.lndividual-lettr-wrap a.card{display:inline-block}
inner-list-wrap ul li i{font-size:14px}
.author-name{font-size:18px;color:#ff3600;margin-bottom:5px;padding-bottom:5px;border-bottom:1px solid #ff3600;font-family:'OpenSans-Semibold'}
.author-des{font-size:14px;margin-bottom:5px;padding-bottom:5px;border-bottom:1px solid #ddd}
.section_main_body h2.author-year{font-size:14px;margin-bottom:5px;padding-bottom:5px;border-bottom:1px solid #ddd;width:100%;font-family:'OpenSans-Semibold'}
.section_main_body h2.author-year span{font-family:'OpenSans-Regular'}
.book-name{font-family:'OpenSans-Semibold';font-size:18px;color:#ff3600;margin-bottom:5px;padding-bottom:5px;border-bottom:1px solid #ff3600}
.book-wrapper{border:1px solid #ddd;padding:15px;margin:20px 0 0;height:600px;overflow-y:auto;position:relative}
.book-wrapper p{width:calc(100% - 40px);float:left;line-height:24px}
.book-wrapper p a{text-decoration:underline;cursor:help}
.line-number{width:30px;float:right;list-style:none;padding:0;margin:0;height:100%;position:relative}
.line-number span{background:#ddd;display:inline-block;padding:0 5px;width:100%;text-align:center;line-height:24px;margin-top:96px}
.cd-top{display:inline-block;height:40px;width:40px;position:fixed;bottom:40px;right:10px;box-shadow:0 0 10px rgba(0,0,0,0.05);overflow:hidden;text-indent:100%;white-space:nowrap;background:rgba(232,98,86,0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;visibility:hidden;opacity:0;-webkit-transition:opacity .3s 0s,visibility 0 .3s;-moz-transition:opacity .3s 0s,visibility 0 .3s;transition:opacity .3s 0s,visibility 0 .3s}
.cd-top.cd-is-visible,.cd-top.cd-fade-out,.no-touch .cd-top:hover{-webkit-transition:opacity .3s 0s,visibility 0 0;-moz-transition:opacity .3s 0s,visibility 0 0;transition:opacity .3s 0s,visibility 0 0}
.cd-top.cd-is-visible{visibility:visible;opacity:1}
.cd-top.cd-fade-out{opacity:.5}
.no-touch .cd-top:hover{background-color:#e86256;opacity:1}
.time-range-wrap{width:100%;background:#ccc;padding:10px;border-radius:8px;margin-bottom:20px}
.time-range-wrap input.form-control{margin:0}
.time-range-wrap button.btn{padding:6px 15px!important}
.sub-links a{display:inline-block;border:1px solid #313131;color:#313131;border-radius:3px;margin:0 0 0 3px;padding:3px 8px}
.more-new-btn{border:1px solid #ccc;display:inline-block;float:right;font-size:14px;line-height:1em;margin:5px 0 0;padding:5px 10px;border-radius:3px}
.login_wrap{padding:0;margin:0 0 19px}
.login_wrap .login-header{padding:0;margin:0 0 20px}
.login_wrap .login-header .login-title{background-color:transparent;font-family:'JosefinSlab-SemiBold';color:#702c39;font-size:16px;text-transform:uppercase;letter-spacing:.07em;text-align:center}
.login_block{background-color:#b7c1c3;border-top:10px solid #702c39;padding:24px 2.5em 40px;text-align:center}
.login_block .form-group .form-control{border-radius:0;font-family:'OpenSans-Regular';font-size:10px;letter-spacing:.07em;color:#b7c1c3;text-align:center;padding:.2em;width:45%;height:29px;display:inline-block;resize:none}
.login_block .form-group .form-control::-moz-placeholder{color:#b7c1c3}
.login_block a{font-family:'OpenSans-Regular';font-size:10px;color:#702c39;text-decoration:none;cursor:pointer}
.login_block a:hover{color:#000;text-decoration:none}
.login_block .form-group{margin:.45em 0}
.login_block .form-group button.btn{margin:.1em 0;font-size:12px;letter-spacing:.1em}
.login_block .row_space{line-height:10px;/*margin:.7em 0 .1em;*/padding:0}
.orange-btn{font-family:'JosefinSlab-SemiBold';font-size:18px!important;padding:8px 25px!important;margin:0!important}
.row_space{padding:0;margin:.2em 0}
.contact_wrap{padding:0;margin:1em 0}
.contact_wrap .contact-header{padding:0;margin:0 0 20px}
.contact_wrap .contact-header .contact-title{background-color:transparent;font-family:'JosefinSlab-SemiBold';color:#702c39;font-size:16px;text-transform:uppercase;letter-spacing:.07em;text-align:center}
.contact_block{background-color:#b7c1c3;border-top:10px solid #702c39;padding:2.5em;text-align:left}
.contact_block .form-group .form-control{border-radius:0;font-family:'OpenSans-Regular';font-size:10px;color:#111;padding:.3em .6em;width:100%;height:30px;display:inline-block}
.contact_block .form-group .form-control::-moz-placeholder{color:#b7c1c3}
.contact_block .form-group .txtarea{height:10em!important;resize:none}
.contact_block a{font-family:'OpenSans-Regular';font-size:14px;color:#40454f;text-decoration:none;cursor:pointer}
.contact_block a:hover{color:#000;text-decoration:none}
.contact_block button.btn{font-size:12px;padding:.2em 1em}
.contact_block .small_head_txt{font-family:'OpenSans-Regular';font-size:15px;color:#000;text-transform:uppercase;letter-spacing:.05em;margin:0 0 .3em}
.contact_block .org_contact_infobox{font-size:13px}
.contact_block .org_contact_infobox img{width:14px;height:auto}
.row_top-pad{margin:1em 0 0}
.small_head_txt{font-family:'OpenSans-Regular';font-size:20px;color:#000;text-transform:uppercase;letter-spacing:.05em;margin:0 0 .3em}
.section_team_mamber_list ul.ng-scope li{background-color:transparent}
.section_team_mamber_list .pagination_block ul li{background-color:transparent}
.reg_wrap{padding:0;margin:1em 0}
.reg_wrap .reg-header{padding:0;margin:0 0 20px}
.reg_wrap .reg-header .reg-title{background-color:transparent;font-family:'JosefinSlab-SemiBold';color:#702c39;font-size:16px;text-transform:uppercase;letter-spacing:.07em}
.reg_block{background-color:#b7c1c3;border-top:10px solid #702c39;padding:2.5em;text-align:left}
.reg_block .form-group .form-control{border-radius:0;font-family:'OpenSans-Regular';font-size:13px;color:#000;padding:0 .4em;width:100%;height:32px;display:inline-block}
.reg_block .form-group .form-control::-moz-placeholder{color:#b7c1c3}
.reg_block .form-group .txtarea{width:100%;height:8em!important;resize:none;padding:.6em}
.reg_block .form-group .txtarea:focus{border:1px solid #702c39}
.reg_block label{width:100%;display:inline}
.reg_block input{width:100%;display:inline;height:32px}
.reg_block .form-group{margin:.2em 0}
.outreach_wrper .border_lowerbar{border-bottom:8px solid #702c39;padding:0;margin:-5px 0 0;width:100%;font-size:1px;line-height:1px}
.outreach_wrper .lower_pad{padding:0;margin-bottom:14px}
.outreach_wrper h3{font-size:17px;letter-spacing:.1em;margin-bottom:11px}
.outreach_list{margin-bottom:26px;padding:0;text-align:left}
.outreach_wrper .outreach_list .gray_block{width:100%;background-color:#b7c1c3;border-top:8px solid #702c39;padding:30px 23px!important;font-size:10px!important;line-height:16px!important;vertical-align:top;height:220px;overflow:hidden}
.outreach_wrper .outreach_list .gray_block p a{color:#702c39;font-size:10px;letter-spacing:normal;font-weight:700;font-style:none;text-decoration:none}
.outreach_wrper .outreach_list .gray_block .more_txt a{color:#702c39;font-size:10px;letter-spacing:normal;font-weight:400;font-style:none;text-decoration:none}
.outreach_wrper .outreach_list .gray_block p a:hover,.outreach_wrper .outreach_list .gray_block .more_txt a:hover{color:#40454f}
.gray_block h3 a:hover{color:#40454f}
.filum_wrap .head_txt{width:100%;font-size:15px;text-align:center;letter-spacing:.05em}
.filum_wrap .gray_block{border-top:9px solid #702c39;background-color:#b7c1c3;font-size:10px!important;height:auto;line-height:16px;padding:30px 40px 50px;vertical-align:top;width:100%}
.filum_wrap .form-item-container{background-color:transparent;border-radius:0;padding:0;margin:0}
.filum_wrap h3{color:#702c39;font-family:"OpenSans-Regular";font-size:13px;line-height:18px;margin:1.5em 0 .6em;padding:0;letter-spacing:.1em;text-transform:uppercase}
.filum_wrap h3 i{color:#fff;font-size:10px;margin:0 0 0 -10px}
.filum_wrap .form-control{border-radius:0;font-size:10px;letter-spacing:.05em;color:#111;margin:0 0 2.5em!important}
.filum_wrap .form-control::-moz-placeholder{color:#b7c1c3}
.filum_wrap .no-boder-wrap .list-inline > li input{height:32px;color:#111;font-size:10px;letter-spacing:.05em}
.filum_wrap input[type="radio"],.filum_wrap input[type="checkbox"]{margin:3px 5px 0 0;float:none;position:inherit;vertical-align:top;outline:0}
.filum_wrap .checkbox label{padding-left:0}
.filum_wrap .checkbox input[type="radio"],.filum_wrap .checkbox input[type="checkbox"]{margin:4px 5px 0 0;position:relative}
.filum_wrap .inline-radio label,.filum_wrap .form-group .control-label{width:auto}
.filum_wrap button,html .filum_wrap input[type="button"],.filum_wrap input[type="reset"],.filum_wrap input[type="submit"]{background-color:#626874;border:1px solid #626874;border-radius:0;color:#fff;font-family:"OpenSans-Regular";font-size:12px;padding:.1em 1.2em .3em;margin-bottom:12px;text-transform:none}
.filum_wrap .radioclswomrgn{float:left!important}
.sort-by_block{color:#702c39;font-family:"OpenSans-Regular";font-size:13px;letter-spacing:.1em;line-height:18px;margin:0 0 .6em;padding:0;text-transform:uppercase}
.sort-by_block i{color:#fff!important;font-size:10px!important;margin:0 0 0 -14px !important}
.sort-by_block .fr_srt{color:#702c39!important}
.sort-by_block .checkbox-inline{color:#000!important;font-size:10px!important;letter-spacing:normal!important;line-height:16px!important;text-transform:none!important}
.btn_block{padding-top:2em}
.filum_wrap .btn_block button,html .filum_wrap .btn_block input[type="button"],.filum_wrap .btn_block input[type="reset"],.filum_wrap .btn_block input[type="submit"]{background-color:#702c39;border:1px solid #702c39;border-radius:0;color:#fff;font-family:"JosefinSlab-SemiBold";font-size:13px;letter-spacing:.1em;padding:.3em 1.2em;text-transform:uppercase}
.filum_wrap .btn_block button:hover,html .filum_wrap .btn_block input[type="button"]:hover,.filum_wrap .btn_block input[type="reset"]:hover,.filum_wrap .btn_block input[type="submit"]:hover{background:transparent none repeat scroll 0 0;border:1px solid #702c39;color:#702c39}
.half_box{width:31.5%}
.collapse-text-toggle{font-size:11px!important;letter-spacing:.05em;color:#702c39!important;font-style:italic;cursor:pointer}
#newslist .news_wrap li{background-color:#b7c1c3!important;border-top:8px solid #702c39;padding:15px 22px!important;font-size:13px!important;color:#000;vertical-align:top;min-height:161px;overflow:hidden}
#newslist .news_wrap .news_heading_txt{font-size:13px;color:#702c39!important;text-transform:uppercase;padding:0;margin:0 0 13px;line-height:18px}
#newslist .news_wrap .news_heading_txt a{color:#702c39!important;font-size: 17px;line-height: 22px;}
#newslist .news_wrap .news_heading_txt a:hover{color:#111}
.txt_reamore{color:#702c39!important;font-size:13px;font-weight:400;letter-spacing:normal;text-decoration:none;font-style:italic}
.txt_reamore:hover{color:#111}
footer .rgt_block ul li:last-child img{width:auto;height:67px}
footer .rgt_block ul li:first-child img{width:auto;height:68px}
.news-details_wrap{color:#000}
.news-details_wrap .news_heading_txt{color:#702c39;font-size:17px;line-height:16px;margin:0 0 15px;padding:0;text-transform:uppercase}
.wh_border{border:5px solid #fff;margin-bottom:0}
input.radio:empxy{margin-left:-999px!important;position:absolute;height:1px}
input.radio:empxy ~ label{position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;padding-left:25px;height:1em;top:2px}
input.radio:empxy ~ label:before{position:absolute;display:block;top:3px;bottom:-3px;left:5px;content:'';width:1em;background:transparent;border-radius:100%;border:2px solid #626874}
input.radio:hover:not(:checked) ~ label{color:#888}
input.radio:checked ~ label:before{content:"";text-indent:.9em;background-color:#626874;border-radius:100%}
input.radio:checked ~ label{color:#777}
input.radio:focus ~ label:before{box-shadow:0 0 0 3px #999}
.radiosort,.radio.radiosort.ng-pristine.ng-untouched.ng-valid.ng-not-empxy,.radio.radiosort.ng-valid.ng-not-empxy.ng-dirty.ng-valid-parse.ng-touched{margin-left:-15px!important}
.section_team_mamber_list h3{font-size:17px;margin-bottom:.6em;letter-spacing:.15em}
.section_team_mamber_list h4{font-size:15px}
label{font-weight:400}
.journal_img{background-color:#fff;border:10px solid #fff;float:left;height:auto;margin:0 14px 5px 0;overflow:hidden;padding:0;width:22%}
.journal_rgt_box{float:left;height:100%;width:74%}
#dvloader{position:relative}
#spnloader{position:absolute;left:0;right:0;text-align:center;top:2px}
.sort-by_block .form-group{display:inline-block}
.sort-by_block .form-group label{font-size:10px;color:#000;text-transform:none;vertical-align:top}
.logo_neukom{height:44px}
.logo_mellon{height:44px}
.logo_humanities{height:50px}
.section_research_wrap .section_dark .container,.section_research_wrap .section_light .container{width:48%;padding:0}
.section_research_wrap .section_dark .container .researchrow,.section_research_wrap .section_light .container .researchrow{width:100%}
.research_more_link{font-size:12px;font-style:italic;letter-spacing:.05em;color:#702c39;font-family:"OpenSans-Light";text-decoration:none}
.research_more_link:hover{color:#111}
.researchrow{width:55%;margin:0 auto}
.gray_btn{padding:.8em!important;min-width:125px}
.publication_row{width:70%;margin:0 auto 31px}
.publication_row .row{margin-left:0;margin-right:0}
.gray_block2{width:100%;background-color:#b7c1c3;padding:25px 28px 10px;margin:0;display:inline-block;text-align:left;font-size:10px;line-height:18px;vertical-align:top}
.gray_block2 p a{font-style:italic;color:#702c39;font-weight:400;letter-spacing:.025em}
.border_topbar{border-top:8px solid #702c39;width:100%}
.publication_row ul li{width:100%;list-style:disc;padding:0 12px 0 0;margin:0 0 3px 15px;display:list-item;font-size: 13px;}
.top_pad{margin-top:22px}
.pull_right{float:right}
.italic_font{font-style:italic}
.reseach_subheading{font-size:13px;color:#000;font-style:normal;line-height:25px;padding:0;margin:0 0 20px}
.member_img2{width:230px;max-height:auto;min-height:283px;overflow:hidden;float:left;margin:0 30px 5px 0;padding:0;border:10px solid #fff;background-color:#fff}
.gray_btn{width:100%}
.no-boder-wrap .list-inline > li{padding:0}
.notified_txt{color:#702c39}
.form-item-container .list-inline li span{border:1px solid #626874!important;border-radius:0!important;margin:0 0 5px;display:inline-block}
.form-item-container .list-inline li span.remove{border:0!important}
.alumini_txt{font-size:25px;text-decoration:underline;font-weight:700; text-align: center;}
.carousel-caption{font-family:'sfns_displayregular'!important;font-size:18px;text-shadow:none;padding-bottom:0;width:100%;left:auto;right:auto;bottom:inherit;position:relative;padding-top:10px}
.carousel-caption h3{font-family:'JosefinSlab';margin-bottom:11px;font-size:23px;line-height:25px;color:#fff;text-transform:uppercase;letter-spacing:.1em}
.carousel-inner .carousel-caption img{display:inline-block!important}
.carousel-inner .carousel-caption p{font-family:'OpenSans-Light';font-size:17px;margin:0;color:#fff;letter-spacing:.05em}
.carousel-indicators{bottom:0}
.carousel-indicators li{width:13px;height:13px;background-color:#fff;border:1px solid #000;margin:0}
.carousel-indicators .active{width:13px;height:13px;background-color:#f14010;border:1px solid #000}
.filum_wrap .sort-by_block input[type="radio"],.filum_wrap .sort-by_block input[type="checkbox"]{float:left;margin:3px 5px 0 0}
.filum_wrap .sort-by_block .form-group{margin:.4em 0}
.filum_wrap .sort-by_block .glyphicon{top:0}
.section_main_body .gray_block2 h2{font-family:inherit!important;font-size:21px;line-height:18px;font-weight:700;letter-spacing:0; padding: 0;}
.no-rgt-pad{padding-right:0}
.top-gap{margin-top:6px}
.new-con{width:70%;max-width:1024px}
.member_rgt_box p{line-height:18px;font-size:12px}
.section_team_mamber_list h4{font-size:15px}
.form-item-container .list-inline li span.remove { margin: 0!important; position: relative; top: 2px;}
.member_img.reserch-image, .member_img_rgt.reserch-image{ max-height: 322px; width: 258px;}
.member_img.reserch-image{ margin-right:30px; overflow: visible;}
.member_img_rgt.reserch-image{ margin-left:30px;}
.org_contact_infobox .col-lg-1.col-md-1.col-sm-1.no-pad{ width:6%;}
.publication_row .section_team_mamber_list p.ng-binding{font-size: 13px; line-height: 22px;}
.outreach_wrper .gray_block h3 a{ font-size:17px;}
.outreach_wrper .gray_block > p{ font-size: 13px; line-height: 18px;}
.form-item-container .list-inline li span.remove i{ top:0;}
@media screen and (max-width:1920px) {
body.inner{padding-top:0}
.carousel-capxion{top:1em;text-shadow:none;padding-bottom:0;width:50%;left:27%;right:27%}
.carousel-capxion h3{margin-bottom:.6em}
.carousel-inner .carousel-capxion p{margin:1em 0 2em;font-family:'OpenSans-Regular';font-size:18px}
}
@media (max-width:1366px) {
html,body{width:auto}
.navbar-inverse .navbar-nav > li > a{padding:2px 6px 0}
}
@media (max-width:1280px) {
.section_research_wrap .section_dark .container, .section_research_wrap .section_light .container {
    width: 52%;
    padding: 0;
}

}
@media (max-width:1199px) {
.member_img{width: 180px; height: 100%; max-height: 188px;}
.member_rgt_box{width:51%}
.member_rgt_box .more_txt{bottom:0}
.section_team_mamber_list .gray_block{line-height:20px}
.section-topblock p{/* padding:28px 0 */}
.section_research_wrap .section_dark .container,.section_research_wrap .section_light .container{width:65%}
.researchrow{width:67%}
.section-home ul li{margin:10px 12px}
.member_rgt_box p { line-height: 16px; font-size: 11px;}
.member_rgt_box{min-height: 188px;}
.new-con { width: 100%;}
}
@media (max-width:1024px) {
html,body{width:auto}
.navbar-inverse .navbar-nav > li > a{padding:2px 6px}
h1{font-size:18px}
.member_img{width:130px;height:100%}
.publication_row{width:85%}
h1{/*font-family:'JosefinSlab-SemiBold';*/font-size:15px}
}
@media only screen and (min-width:767px) and (max-width: 1024px) {
.top_icon{margin:28px 0 0}
.section-home{margin:0}
}
@media (max-width:991px) {
.section_team_mamber_list ul li{margin:0 1.5em 2em 0}
.member_rgt_box{width:49%;height:100%;min-height:188px}
.researchrow{width:87%}
}
@media (max-width:980px) {
html,body{width:auto}
.carousel{padding:0 0 20px}
.carousel-capxion{text-shadow:none;padding-bottom:0;width:95%;left:2%;right:auto;padding-top:10px}
.carousel-inner .carousel-capxion h3{margin:0}
.carousel-inner .carousel-capxion p{font-size:16px;margin:.8em 0;line-height:1.3em}
.section_three_block img{width:auto}
h2{font-size:1.4em}
footer{line-height:2em}
footer .rgt_block a{font-size:11px;padding:.6em .5em;margin:0 .1em}
.section_team_mamber_list ul li{width:100%}
.member_img,.member_img_rgt{display:inline-block;text-align:center}
.member_img img,.member_img_rgt img{display:inline-block}
.half_box{width:100%}
.section_research_wrap .section_dark .container,.section_research_wrap .section_light .container{width:85%}
}
@media (min-width:768px) {
ul.nav li.dropdown ul{display:none}
ul.nav li.dropdown:hover ul{display:block;height:auto!important}
.on-mob{display:none}
.on-desk{display:block}
.caret-m{display:none}
.research_image {
  width: 258px;
  min-height: 321px!important;
}
}
@media (min-width:768px) and (max-width:768px) {
  .news_wrap ul li{width:100%;margin:0 0 1.8em}
}
@media (max-width: 767px) {
.section-home ul li{width:248px}
.pad-mob{padding-right:15px;padding-left:15px;padding-bottom:26px}
html,body{width:auto}
.navbar-brand > img{max-width:85%}
.navbar-justify li{display:block}
.navbar-collapse .navbar-nav > li > a{padding:.5em 1.6em}
.navbar{margin:.6em 0 .4em}
.news_wrap ul li{width:100%;margin:0 0 1.8em}
.caret-m{display:block;position:absolute;right:0;left:auto;z-index:555;bottom:auto;top:8px;margin:0 15px 0 0;padding:0;width:20px;height:20px;background-color:#525252;border-left:1px solid #676767;text-align:center;line-height:20px;cursor:pointer}
.caret-m i{color:#FFF}
.caret-m:hover{background:#702c39}
.caret-m:hover i{color:#fff}
.dropdown-menu{position:inherit;width:100%}
.caret{display:none}
.dropdown-menu > li > a{text-align:left}
.homeimg_pad img{max-width:100%;display:inline}
.section_three_block{margin:0 0 3.8em}
.carousel-capxion{text-shadow:none;padding-bottom:0;width:95%;left:2%;right:auto;font-size:14px;line-height:18px}
.carousel-capxion h3{font-size:20px}
.homeimg_pad{height:auto}
h1:before{top:-.8em;margin-left:0;left:31%}
.login_block .form-group .form-control{width:140px}
.news_review{padding:0 .2em 0 0}
.news_review i:nth-child(2){margin:0 .3em 0 .5em}
.section_team_mamber_list ul li{width:100%;float:none;margin:0 0 2em}
.member_img{width:34%;height:auto;}
.member_rgt_box{width:56%}
.media-left{width:100%;display:inline-block;padding:0;margin:0 0 .6em;text-align:center}
.comment_block .media-left,.comment_block .media > .pull-left{padding-right:0}
.comment_block .media-left img{display:inline-block}
.section_three_block{display:block}
footer{line-height:1.5em}
.btn-search{margin:.8em 0 0}
.article_search_block ul li{float:left;width:auto;margin:0 0 .5em}
.section_team_mamber_list ul li{margin:0 0 1.2em}
.pagination_block ul li{float:left;margin:0 .2em;width:auto}
.dark_row{font-size:12px;line-height:18px}
footer .rgt_block ul li{margin:0}
footer .rgt_block a{padding:0}
.filum_wrap .gray_block{padding:20px 20px 30px}
.wh_border{margin-bottom:15px}
.news-details_wrap .news_heading_txt{line-height:20px}
.bottom-footer{padding:10px 0}
.member_img{max-height:100%}
.publication_row{width:100%}
.section_team_mamber_list .gray_block2{padding:35px}
#newslist .news_wrap li{height:auto}
.ng-scope{min-height:auto}
.article_details_wrap{padding:0}
.modal-body{padding:0}
.media-body ul{padding:0}
.carousel-caption h3{font-size:18px;line-height:18px}
.carousel-inner .carousel-caption p{font-size:14px}
.section_three_block p{font-size:14px;line-height:16px}
.member_img.reserch-image, .member_img_rgt.reserch-image{ max-height: inherit; width: auto;margin: 0 0 20px}
}
@media (max-width: 640px) {
html,body{width:auto}
.carousel-capxion{top:auto;text-shadow:none;padding-bottom:0;width:100%;left:auto;right:auto;font-size:14px;line-height:18px}
.carousel-inner .carousel-capxion img{width:35%;display:inline-block}
.carousel-inner .carousel-capxion h3{margin:0}
.carousel-inner .carousel-capxion p{font-size:14px;margin:.8em 0;line-height:1.1em}
.section-topblock p{margin:0;padding:0 15px}
.section-home{margin:0}
.carousel{margin:0 0 1.5em;padding:0 0 10px}
.carousel-capxion{padding-top:10px}
.carousel-indicators{display:block}
.section_three_block{margin:0 0 2.8em}
.homeimg_pad{margin:0 0 1.5em}
h1:before{top:-.8em;margin-left:0;left:38.5%}
.section_three_block .dsc_txt{height:auto}
footer .rgt_block a{font-size:12px;padding:.6em .5em;margin:0 .1em}
.contact_wrap .contact-header .contact-title{font-size:14px}
.contact_block .small_head_txt{font-size:12px}
.journal_img{float:none;margin:0 auto 20px;width:75%}
.journal_rgt_box{float:none;height:auto;text-align:center;width:100%}
.section_research_wrap .section_dark .container,.section_research_wrap .section_light .container{width:100%}
.researchrow{width:100%}
.section_main_body h2{font-size:21px}
footer .rgt_block ul li{width:45%}
.sort-by_block .form-group{display:block}
.sort-by_block .form-group label{margin-bottom:0}
}
@media (max-width: 991px) {
.outreach_wrper .outreach_list .gray_block{width:100%;height:auto;margin-bottom:23px}
}
@media (max-width: 580px) {
.member_rgt_box .more_txt{position:relative;top:5px;left:0}
}
@media (max-width: 414px) {
.carousel-capxion h3{font-size:17px}
.carousel-indicators{display:none}
.member_img,.member_img_rgt{width:45%;max-height: 220px;min-height: 220px;}
.member_rgt_box{width:49%;height:auto}
footer{line-height:1.5em}
}
@media only screen and (min-width: 768px) {
.cd-top{right:20px;bottom:20px}
}
@media only screen and (min-width: 1024px) {
.cd-top{height:60px;width:60px;right:30px;bottom:30px}
}
@media only screen and (max-width: 767px) {
body{overflow-x:hidden}
.contact_block{padding:1.5em}
.contact_block .org_contact_infobox{font-size:9px}
.contact_block a{font-size:9px}
}
@media (min-width:320px) and (max-width:320px){
	.gray_btn { padding: 0.5em!important; min-width: 110px;}
}
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none!important}
.bg-transparent{background-color:transparent!important}
.bg-transparent.ng-binding.ng-scope{background-color:transparent!important}
.textarea-label {
  position:absolute;
  margin-left: 10px;
  margin-top: 10px;
}
.publinks ul {
  margin: 0;
  padding: 0;
}

.publinks ul li
{
    list-style-type: none;
    display: inline;
}

.publinks li:not(:first-child):before {
    content: " | ";
}
